spring.application.name=fitness-zombie-backend

# Copy this file to 'application.properties' and fill in your real credentials
spring.datasource.url=jdbc:postgresql://<YOUR_DATABASE_HOST>:<PORT>/postgres
spring.datasource.username=<YOUR_USERNAME>
spring.datasource.password=<YOUR_PASSWORD>